*.iml
.gradle/
.gradle
/local.properties
/.idea/
.vscode/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.aab
*.class
*.log
*.pyc
__pycache__/
venv/
.venv/
local.properties
