*.iml
.gradle/
.gradle
/local.properties
/.idea/
.vscode/
.DS_Store
/build
**/build/
**/generated/
**/intermediates/
**/outputs/
**/tmp/
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.aab
*.class
*.log
*.zip
*.jar
*.pyc
__pycache__/
venv/
.venv/
local.properties
build-tools/
cmpline-tools/
platform-tools/
platforms/
ndk/
sdk/
licenses/
LIB_GLASSES_SDK/
temp_aar/
tmp_unzip/
out/
out.txt
output.txt
tree_output.txt
crash_log_*.txt
.knownPackages
